.hero__container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.hero__left{
    max-width: 100%;
    width: 310px;
    height: auto;
    background-color: rgba(251, 251, 251, 1);
    padding: 30px;
}
.left__subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: rgba(61, 61, 61, 1);
    padding: 20px 0;
}
.left__span{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}
.left__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: rgba(61, 61, 61, 1);
}
.left__title:hover{
    color: rgba(70, 163, 88, 1);
}
.left__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(251, 251, 251, 1);
    background-color: rgba(70, 163, 88, 1);
    padding: 8px 24px;
    margin: 10px auto;
    border: none;
    border-radius: 6px;
}
.left__input{
    outline: none;
    border: none;
    background-color: rgba(70, 163, 88, 1);
    padding: 5px 0;
}
.left__btn:hover{
    opacity: 80%;
}
.hero__left__end{
    margin: 30px 0;
}
.left__img{
    max-width: 100%;
    width: 300px;
}
.hero__right{
    max-width: 100%;
    width: 830px;
    padding: 30px;
}
.right__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;  
    color: rgba(61, 61, 61, 1); 
}
.right__subtitle:hover{
    font-weight: 700;
    color: rgba(70, 163, 88, 1);
    border-bottom: 2px solid;
}
.right__start{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
}
select{
    margin-left: 50px;
    padding: 4px 8px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: rgb(148, 210, 160);
    color: rgba(251, 251, 251, 1);
    font-size: 18px;
}
.right__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(61, 61, 61, 1);
    padding: 8px 0;
}
.right__end{
    gap: 10px;
}
.hero__boxs{
    text-align: center;
    padding: 10px;
    max-width: 100%;
    width: 240px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.hero__pic{
    max-width: 100%;
    width: 220px;
}
.right__text{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
}
.right__end{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width:1120px) {
    .right__end{
        justify-content: space-around;
        padding: 20px 0;
    }
}
@media screen and (max-width:810px) {
    .hero__pic{
        max-width: 60%;
    }
    .hero__boxs{
        width: 190px;
    }
    .right__title, .right__text{
        font-size: 16px;
    }
}
@media screen and (max-width:670px){
    .hero__boxs{
        width: 250px;
    }
    select{
        margin: 0px auto;
    }
} 
@media screen and (max-width:520px){
    .hero__container{
        flex-direction: column;
        justify-content: center;
    }
    .hero__left{
        margin: 0 auto;
    }
    .right__start{
        padding-bottom: 30px;
    }
    .hero__boxs{
        width: 150px;
        padding: 10px 0;
    }
    .right__title, .right__text{
        font-size: 12px;
    }
}